# requirements file with hard dependencies so ReadTheDocs can generate the documentation properly
astropy==4.0.2
matplotlib==3.3.2
numpy==1.19.2
scikit-learn==0.24.2
scipy==1.4.1
tensorflow==2.2.0
pip==21.3.1  # specify version of pip so editable local install will work properly  
sphinx==4.4.0  # sphinx only for developing documentation
sphinx-rtd-theme==1.1.0  # this version is required for proper HTML margins
renku-sphinx-theme==0.4.0  # theme based of of ReadTheDocs theme
sphinxcontrib-applehelp==1.0.2  # <<< control versions sphinx addons to make sure ReadTheDocs can build docs properly
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5  # >>>
